*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: hsl(200, 50%, 12%);

}


.head {
    background: hsl(19, 35%, 65%);
    height: 340px;
    width: 300px;
    border-radius: 70% 70% 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.eyes,
.brows {
    width: 210px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.specs {
    width: 230px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.spec {
    width: 100px;
    height: 90px;
    border: 5px solid hsl(0, 2%, 10%);

    padding: 2%;
    border-radius: 50% 50% 70% 70%;


}

.specs-middle{
    width:30px;
    background-color:hsl(0, 2%, 10%);
    position: absolute;
    height: 10px;
}

.specs-slant-left{
    background-color:hsl(0, 2%, 10%);
    width:50px;
    height: 10px;
    position: absolute;
    margin-left: -280px;
    margin-bottom:10px;
    -webkit-transform:
    translateY(-10px)
    translateX(5px)
    rotate(30deg); 
    
}

.specs-slant-right{
    background-color:hsl(0, 2%, 10%);
    width:50px;
    height: 10px;
    position: absolute;
    margin-left: 260px;
    margin-bottom:10px;
    -webkit-transform:
            translateY(-10px)
            translateX(5px)
            rotate(150deg); 
    
}



.eye {
    background-color: white;

    height: 50px;
    width: 70px;
    border-radius: 100%;

    border-top: 5px solid hsl(19, 24%, 58%);
    border-bottom: 5px solid hsl(19, 24%, 58%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.eye::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: hsl(30, 3%, 15%);
    border-radius: 100%;
    margin-left: 10px;
    margin-bottom: 5px;
}

.eye::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: hsl(30, 5%, 24%);
    margin-left: 15px;
    margin-bottom: 7px;
}


.brow {
    width: 70px;
    height: 32px;
    border-top: 10px solid hsl(27, 14%, 13%);
    border-radius: 100%;
    margin-bottom: 35px;
}


.nose {
    position: absolute;
    border: 4px solid hsl(19, 24%, 58%);
    width: 45px;
    height: 30px;
    border-radius: 30px;
    border-radius: 0 0 100% 100%;
    border-top: none;
    margin-top: 120px;

}




.mouth {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: white;
    margin-top: 225px;
    border-radius: 20% 20% 100% 100%;
    border: 4px solid hsl(19, 24%, 58%);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 2px;
    z-index: 2;
}


.ears{
    z-index: -1;
    width:340px;
    position: absolute;
    width:340px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;


}

.ear{
    width:25px;
    height: 70px;
    background: hsl(18, 27%, 61%);
    border: 2px solid hsl(19, 24%, 58%);
    border-radius:0 100% 100% 0;

}

.ear:first-child{
    border-radius:100% 0 0 100%;
}

.beard{
    background: hsla(0, 0%, 7%, 0.856);
    height: 100px;
    width: 200px;
    border-radius: 30% 30% 100% 100%;
    margin-top: 250px;
    filter: blur(9px);
    -webkit-filter: blur(9px);
    z-index: 1;
   
    
}

.beard-container{
    display:flex;
    justify-content:space-between;
    position:absolute;
    background-color:red;
    z-index: 2;
    filter: blur(9px);
    -webkit-filter: blur(9px);
}

.beard-r{
    background: hsla(0, 0%, 7%, 0.856);
    height: 120px;
    width: 40px;
    position: absolute;
    margin-left: -129px;
    margin-top: 45px;
   
    border-radius:100% 90% 90% 100%;

    -webkit-transform:
    translateY(-10px)
    translateX(5px)
    rotate(144deg); 
}

.beard-l{
    background: hsla(0, 0%, 7%, 0.856);
    height: 120px;
    width: 40px;
    position: absolute;
    margin-left: 83px;
    margin-top: 45px;
   
    border-radius: 98% 1% 100% 20%;

    -webkit-transform:
    translateY(-10px)
    translateX(5px)
    rotate(22deg); 
}


.hair{
    position: absolute;
    width:300px;
    height: 125px;
    background-color: hsl(27, 14%, 13%);
    margin-bottom: 300px;
    border-radius:70% 100% 20% 20%;
}
/* 
.hair{
    position: absolute;
    width:340px;
    height: 125px;
    background-color: hsl(27, 14%, 13%);
    margin-bottom: 300px;
    border-radius:70% 100% 0 0;
} */

.hair::before,.hair::after{
content: '';
position: absolute;
background-color:hsl(27, 14%, 13%);
height: 100px;
width: 20px;
transform: translateY(100%)

}

.hair::after{
    right:0;
}

.hair-corner{
    position: absolute;
    width: 100%;
}

.hair-corner::before,.hair-corner::after{
content: '';
position: absolute;
width: 14px;
height: 20px;
transform: rotate(45deg);
top:115px;
left:5px;
background-color: hsl(27, 14%, 13%);;
}

.hair-corner::after{
    left: initial;right: 5px;
    transform: rotate(-45deg)
}